


/* basec clases */

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}

/* header */

.header-logo {
    
    margin: 4px 0px 0px 140px;
       
}

.navigation {
    text-transform: uppercase;
    font-size: 16px;
    margin: 48px 0px 0px 119px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
    
}

.nav-li {
    margin-left: 30px;
    
}

.shop {
    font-weight: bold;
}

/* header end here */



/* section first */
.text-wraper {
    position: relative;
    margin-top: 24px;
    height: 382px;
      
}
.biggest-photo {
    width: 100%;
    height: 382px;
}

.on-biggest-photo-h3 {
    position: absolute;
    font-size: 22px;
    color: white;
    top: 50%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    
    
    
}

.on-biggest-photo-h3-2 {
    position: absolute;
    font-size: 48px;
    color: white;
    top: 50%;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    margin-top: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    
}

/* section first ends here */


/* second section */
.section2-title {
    font-size: 22px;
    text-transform: capitalize;
    color: #FF7A00;
    margin: 84px 0px 0px 172px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    

}


.blocks {
    width: 1324px;
    margin: 0 auto;
    margin-top: 81px;   
}
.left-block,
.right-block {
    width: 636px;
}

.section2-title2 {
    font-size: 36px;
    width: 563px;
    margin-top: 20px;
}

.section2-paragraph {
    font-size: 16px;
    color: #7B7B7B;
    margin-top: 22px;
    margin-bottom: 13px;
}

.read-more { 
    color: #FF7A00;
    font-size: 14px;
    text-transform: uppercase;
    
}

.read-more::after {
    content: ' ' ;
    width: 47px;
    height: 4px;
    color: #FF7A00;
}

.read-more {
    text-transform: uppercase;
    font-size: 14px;
    color: #FF7A00;
    display: inline-block;
    
}

.line {
    width: 47px;
    height: 4px;
    color: #FF7A00;
    display: inline-block;
   
}

/* second section end here */









